CipesAtHome/Debug/
CipesAtHome/Release/
CipesAtHome/x64/
CipesAtHome/.vs/**
results/
prof/
recipes.log
*.ipch
*.db
*.o
*.dep
*.gcda
*.gcno
*.profraw
*.profdata
*.dpi
*.dll
**/*.d
**/*.gcda
**/*.gcno
**/*.profraw
**/*.profdata
**/*.dpi
log.txt
recipesAtHome
recipesAtHome.exe
