CipesAtHome/Debug/
CipesAtHome/Release/
CipesAtHome/x64/
CipesAtHome/.vs/**
results/
prof/
recipes.log
*.ipch
*.db
*.o
*.gcda
*.gcno
*.profraw
*.profdata
*.dpi
**/*.gcda
**/*.gcno
**/*.profraw
**/*.profdata
**/*.dpi
log.txt
recipesAtHome
